{
  "id":          "james",
  "password":    "",
  "shell":       "\/bin\/zsh",
  "groups":      ["sudo", "rbenv"],
  "ssh_keys":    [],
  "smbpassword": "password",
  "bitbucket_username": "jamesdabbs",
  "bitbucket_password": "",
  "bitbucket_repos":    {}
}

